.corpid {
  background-color: #d100b5;
  padding: 5px;
}

.corpid img {
  height: 40px;
  width: 40px;
  margin-right: auto;
}

.corpid h5 {
  color: #e0fffa;
  font-family: "Dancing Script", cursive;
  margin-top: 0px;
  font-size: 22pt;
}

.row-top {
  margin-top: 130px;
}

.nav-link {
  font-family: "Courgette", cursive;
}

table.table > thead > tr.tableHeader {
  background-color: #a71a6c;
  color: #f1bfdc;
}

table.table > thead > tr.tableHeader th {
  text-align: center;
  vertical-align: middle;
  font-family: "Arima Madurai", cursive;
}

tbody.tbodylaporan tr td {
  padding: 1px 5px 1px 5px;
  font-family: monospace;
}

.ngumpet {
  display: none;
}

.pageNumber {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.fas,
.fa {
  margin-left: 5px;
  margin-right: 5px;
}

.bg-container {
  background: -webkit-gradient(linear, left bottom, left top, from(#8b008b), color-stop(#ff00ff), to(#ee82ee));
  background: linear-gradient(to top, #8b008b, #ff00ff, #ee82ee);
}

.bg-logo {
  background: linear-gradient(135deg, #d100b5, magenta, #fdb9fd);
}

.logo {
  background: linear-gradient(135deg, #a800a8, magenta, violet);
  border-radius: 50%;
  width: 100px;
  margin: auto;
}

.logo img {
  width: 100%;
}

.banner {
  text-align: center;
}

.banner h2 {
  font-family: "Dancing Script", cursive;
  color: #e0fffa;
  font-weight: 800;
  text-shadow: 2px 3px #570057;
}

.banner h5 {
  font-family: "Arima Madurai", cursive;
}

.form-login {
  background-color: magenta;
}

.form-login form > div.form-group > input {
  font-family: "Arima Madurai", cursive;
}

.login-label > small {
  font-family: "Courgette", cursive;
  color: #fffea9;
  font-size: 12pt;
}

.smallfont {
  font-size: 10pt;
}

@media screen and (max-width: 720px) {
  .row-top {
    margin-top: 160px;
  }
}
/*# sourceMappingURL=cosmetic.css.map */