// Color Variables
$corpidbg: #d100b5;
$corpidfc: #e0fffa;
$tbheadbg: #a71a6c;
$tbheadfc: #f1bfdc;

// Fonts Variables
$corpidff: "Dancing Script", cursive;
$pgenavff: "Courgette", cursive;
$tbheadff: "Arima Madurai", cursive;
// Corporate ID Style
.corpid {
  background-color: $corpidbg;
  padding: 5px;
  img {
    height: 40px;
    width: 40px;
    margin-right: auto;
  }
  h5 {
    color: $corpidfc;
    font-family: $corpidff;
    margin-top: 0px;
    font-size: 22pt;
  }
}

// first row
.row-top {
  margin-top: 130px;
}
.nav-link {
  font-family: $pgenavff;
}
// table header
table.table > thead > tr.tableHeader {
  background-color: $tbheadbg;
  color: $tbheadfc;
  th {
    text-align: center;
    vertical-align: middle;
    font-family: $tbheadff;
  }
}

// table body laporan
tbody.tbodylaporan tr td {
  padding: 1px 5px 1px 5px;
  font-family: monospace;
}

// all hidden element
.ngumpet {
  display: none;
}

// page number nav
.pageNumber {
  display: inline-block;
  width: 60px;
  text-align: center;
}

.fas,
.fa {
  margin-left: 5px;
  margin-right: 5px;
}

// loginPage
.bg-container {
  background: linear-gradient(to top, #8b008b, #ff00ff, #ee82ee);
}
.bg-logo {
  background: linear-gradient(135deg, $corpidbg, magenta, #fdb9fd);
}

.logo {
  background: linear-gradient(135deg, #a800a8, magenta, violet);
  border-radius: 50%;
  width: 100px;
  margin: auto;
  img {
    width: 100%;
  }
}

.banner {
  text-align: center;
  h2 {
    font-family: $corpidff;
    color: $corpidfc;
    font-weight: 800;
    text-shadow: 2px 3px #570057;
  }
  h5 {
    font-family: $tbheadff;
  }
}

.form-login {
  background-color: magenta;
  form > div.form-group > input {
    font-family: $tbheadff;
  }
}

.login-label > small {
  font-family: $pgenavff;
  color: #fffea9;
  font-size: 12pt;
}

.smallfont {
  font-size: 10pt;
}
// mobile setting
@media screen and( max-width: 720px ) {
  .row-top {
    margin-top: 160px;
  }
}
